////////////////////////
// Style Guide modules
//
////////////////////////

@import 'styles/header';
@import 'styles/menus';

html,
body,
button,
input,
select {
  color: $text;
  font-size: $base-font-size;
  font-family: Helvetica, Arial, sans-serif;
}