////////////////////////
// Style Guide modules
//
////////////////////////

@import 'styles/example_style';

html,
body,
button,
input,
select {
  color: $text;
  font-size: $base-font-size;
  font-family: Helvetica, Arial, sans-serif;
}