.logo {
  text-align: center;
  padding: 20px 0;
}
.site-name {
  @include span-columns(1, 12);
  h1 {
    margin: 0;
  }
  a {
    @extend %icons-small;
    @include sprite-background-position($icons-small, home);
    @include sprite-dimensions($icons-small, home);
    display: inline-block;
    text-indent: -999em;
    overflow: hidden;
    vertical-align: top;
    margin-left: 5px;
  }
  h1,
  a {
    height: image-height(sprite-file($icons-small, home));
  }
}
.region-header {
  @include span-columns(11 omega, 12);
  .block-search {
    text-align: right;
    margin-top: -1.7em;
    margin-left: 1em;
    .contextual-links-wrapper {
      display: none;
    }
    > .content {
      @include transition-property(width);
      @include transition-duration(1s);
      width: 0;
      overflow: hidden;
      position: absolute;
      background: #FFF;
      display: inline-block;
      right: 0;
    }
    &.open {
      > .content {
        width: 100%;
      }
      &:after {
        pointer-events: none;
      }
    }
    .form-item {
      margin: 0;
    }
    .form-text {
      width: 100%;
      border: 1px solid $content-border;
      padding: 0 30px 0 15px;
      height: 34px;
      line-height: 34px;
      @include placeholder($text);
    }
    .form-actions{
      margin: 0;
      input {
        position: absolute;
        right: 0;
        top: 0;
        height: 34px;
        width: 34px;
        opacity: 0;
        cursor: pointer;
      }
    } 
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 5px;
      top: 7px;
      cursor: pointer;
      @extend %icons-small;
      @include sprite-background-position($icons-small, search);
      @include sprite-dimensions($icons-small, search);
    }
  }
}