
@mixin breakpoint_1 {
  aside {
    display: block
  }
  .one-sidebar {
    &.sidebar-first {
      .main {
        @include span-columns(9 omega, 12);
      }
    }
    &.sidebar-second {
      .main {
        @include span-columns(9, 12);
      }
    }
    aside {
      &.sidebar_first {
        @include span-columns(3, 12);
      }
      &.sidebar_second {
        @include span-columns(3 omega, 12);
      }
    }
  }
  .two-sidebars {
    .main {
      @include span-columns(6, 12);
    }
    .sidebar_first {
      @include span-columns(3, 12);
    }
    .sidebar_second {
      @include span-columns(3 omega, 12);
    }
  }
  .no-sidebars {
    .main {
      @include span-columns(12 omega,12);
      .panel-2col {
        .inside {
          margin: 0;
        }
        .panel-col-first {
          @include span-columns(8, 12);
        }
        .panel-col-last {
          @include span-columns(4 omega, 12);
        }
      }
    }
  }
  footer {
    clear: both;
  }
}