/* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_border-box.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_fluid-media.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 11, ../sass/Backbone/global/_extendables.scss */
.clearfix, header, footer, .main {
  *zoom: 1;
}
/* line 14, ../sass/Backbone/global/_extendables.scss */
.clearfix:before, header:before, footer:before, .main:before, .clearfix:after, header:after, footer:after, .main:after {
  display: table;
  content: "";
}
/* line 18, ../sass/Backbone/global/_extendables.scss */
.clearfix:after, header:after, footer:after, .main:after {
  clear: both;
}

/* line 20, ../sass/Backbone/global/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 27, ../sass/Backbone/global/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 37, ../sass/Backbone/global/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 44, ../sass/Backbone/global/_normalize.scss */
[hidden] {
  display: none;
}

/* line 54, ../sass/Backbone/global/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establishes a vertical rhythm unit using $base-line-height. */
  line-height: 1.5em;
}

/* line 67, ../sass/Backbone/global/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 72, ../sass/Backbone/global/_normalize.scss */
body {
  margin: 0;
}

/* line 79, ../sass/Backbone/global/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 86, ../sass/Backbone/global/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 94, ../sass/Backbone/global/_normalize.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 103, ../sass/Backbone/global/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 109, ../sass/Backbone/global/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 115, ../sass/Backbone/global/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 121, ../sass/Backbone/global/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 127, ../sass/Backbone/global/_normalize.scss */
h6 {
  font-size: 0.75em;
  line-height: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 134, ../sass/Backbone/global/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 140, ../sass/Backbone/global/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 144, ../sass/Backbone/global/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/* line 150, ../sass/Backbone/global/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 155, ../sass/Backbone/global/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 162, ../sass/Backbone/global/_normalize.scss */
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 0;
}

/* line 172, ../sass/Backbone/global/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 181, ../sass/Backbone/global/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 189, ../sass/Backbone/global/_normalize.scss */
q {
  quotes: none;
}

/* line 194, ../sass/Backbone/global/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 199, ../sass/Backbone/global/_normalize.scss */
small {
  font-size: 75%;
}

/* line 206, ../sass/Backbone/global/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 213, ../sass/Backbone/global/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 217, ../sass/Backbone/global/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 227, ../sass/Backbone/global/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 232, ../sass/Backbone/global/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 239, ../sass/Backbone/global/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 245, ../sass/Backbone/global/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 255, ../sass/Backbone/global/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 261, ../sass/Backbone/global/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 268, ../sass/Backbone/global/_normalize.scss */
figure {
  margin: 0;
}

/* line 275, ../sass/Backbone/global/_normalize.scss */
form {
  margin: 0;
}

/* line 280, ../sass/Backbone/global/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.4625em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.9125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.875em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.875em;
}

/* line 293, ../sass/Backbone/global/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 308, ../sass/Backbone/global/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 319, ../sass/Backbone/global/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 330, ../sass/Backbone/global/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 340, ../sass/Backbone/global/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 349, ../sass/Backbone/global/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 360, ../sass/Backbone/global/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 367, ../sass/Backbone/global/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 374, ../sass/Backbone/global/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 381, ../sass/Backbone/global/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 389, ../sass/Backbone/global/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../sass/Backbone/_structure.scss */
.page {
  *zoom: 1;
  max-width: 83em;
  _width: 83em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 11, ../sass/Backbone/_structure.scss */
aside {
  display: none;
}

@media (min-width: 35em) {
  /* line 5, ../sass/Backbone/_breakpoint1.scss */
  aside {
    display: block;
  }

  /* line 10, ../sass/Backbone/_breakpoint1.scss */
  .one-sidebar.sidebar-first .main {
    width: 74.6988%;
    float: right;
    margin-right: 0;
  }
  /* line 15, ../sass/Backbone/_breakpoint1.scss */
  .one-sidebar.sidebar-second .main {
    width: 74.6988%;
    float: left;
    margin-right: 1.20482%;
  }
  /* line 20, ../sass/Backbone/_breakpoint1.scss */
  .one-sidebar aside.sidebar_first {
    width: 24.09639%;
    float: left;
    margin-right: 1.20482%;
  }
  /* line 23, ../sass/Backbone/_breakpoint1.scss */
  .one-sidebar aside.sidebar_second {
    width: 24.09639%;
    float: right;
    margin-right: 0;
  }

  /* line 29, ../sass/Backbone/_breakpoint1.scss */
  .two-sidebars .main {
    width: 49.39759%;
    float: left;
    margin-right: 1.20482%;
  }
  /* line 32, ../sass/Backbone/_breakpoint1.scss */
  .two-sidebars .sidebar_first {
    width: 24.09639%;
    float: left;
    margin-right: 1.20482%;
  }
  /* line 35, ../sass/Backbone/_breakpoint1.scss */
  .two-sidebars .sidebar_second {
    width: 24.09639%;
    float: right;
    margin-right: 0;
  }

  /* line 40, ../sass/Backbone/_breakpoint1.scss */
  .no-sidebar .main {
    width: 100%;
    float: left;
    margin-right: 1.20482%;
  }

  /* line 44, ../sass/Backbone/_breakpoint1.scss */
  footer {
    clear: both;
  }
}
/* line 5, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 aside {
  display: block;
}
/* line 10, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 .one-sidebar.sidebar-first .main {
  width: 74.6988%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 15, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 .one-sidebar.sidebar-second .main {
  width: 74.6988%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 20, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 .one-sidebar aside.sidebar_first {
  width: 24.09639%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 23, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 .one-sidebar aside.sidebar_second {
  width: 24.09639%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 29, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 .two-sidebars .main {
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 32, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 .two-sidebars .sidebar_first {
  width: 24.09639%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 35, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 .two-sidebars .sidebar_second {
  width: 24.09639%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 40, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 .no-sidebar .main {
  width: 100%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 44, ../sass/Backbone/_breakpoint1.scss */
.lt-ie9 footer {
  clear: both;
}
